<!DOCTYPE html>
<html>
  <head>
    <title>GalleryCallendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ms+Madi&family=Parisienne&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
    
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      background-image: url('<%= asset_path 'bg1.svg' %>');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
  </head>

  <body class="">
  
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
